---
interface Props {
  title?: string;
  description?: string;
  url?: string;
  image?: string;
}

const { title, description, url, image } = Astro.props;
import Header from '../components/Global/Header.astro';
import Footer from '../components/Global/Footer.astro';
import { AstroSeo } from '@astrolib/seo';
---

<html lang="es">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-SG0TZ4FMLL"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-SG0TZ4FMLL');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon estándar -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/logos/favicon_io/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/logos/favicon_io/favicon-32x32.png"
    />
    <link rel="icon" type="image/x-icon" href="/logos/favicon_io/favicon.ico" />

    <!-- Favicon para dispositivos Apple -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/logos/favicon_io/apple-touch-icon.png"
    />

    <!-- Favicon para Android / Chrome -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/logos/favicon_io/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/logos/favicon_io/android-chrome-512x512.png"
    />

    <!-- Archivo de configuración para navegadores -->
    <link rel="manifest" href="/logos/favicon_io/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <AstroSeo
      title={title}
      description={description}
      canonical={url}
      openGraph={{
        type: 'website',
        url: url,
        title: title,
        description: description,
        images: [
          {
            url: image ? image : '/images/index.webp',
            width: 1200,
            height: 630,
            alt: `${title} - Isosceles Global Constructora`,
          },
        ],
      }}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
